html(defang_xmlns="http://www.w3.org/1999/xhtml", defang_hola_ext_inject="disabled")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(content="IE=10.000", defang_http-equiv="X-UA-Compatible")
    meta(defang_name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(id="noSkype", defang_name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
    meta(name="NetsparkQuiltingResult", total-length="10813", removed="0", rules-found="w3038,w2300,w8546,w2223,w4986,w4829,w6646,w4527,w8745,w9584")
    title Booking
  body(style="margin: 0px; padding: 0px;", defang_hola-ext-player="1")
    div why did you stop your reservation ?